<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The GIF's Origin</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    <div class="img-wrapper">
      <img src="/images/<%= drapeauADeviner %>" alt="" />
    </div>
    <div class="buttons">
      <% quatreNomsDePays.forEach(pays => { %>
      <form action="/correction" method="POST">
        <input type="hidden" name="drapeau" value="<%= drapeauADeviner %>" />
        <button type="submit" name="pays" value="<%= pays %>"><%= pays %></button>
      </form>
      <% }) %>
    </div>
  </body>
</html>
